{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [
                    "Last 2 versions",
                    "not IE < 11"
                ]
            },
            "modules": false
        }]
    ],
    "env": {
        "build": {
            "plugins": [
                "external-helpers",
                "transform-class-properties",
                "transform-object-rest-spread",
                "transform-do-expressions",
                ["transform-runtime", {
                    "helpers": false,
                    "polyfill": false,
                    "regenerator": true,
                    "moduleName": "babel-runtime"
                }],
                ["transform-react-jsx", {
                    "pragma": "h"
                }]
            ]
        },
        "test-unit": {
            "plugins": [
                "external-helpers",
                "transform-es2015-modules-commonjs",
                "transform-class-properties",
                "transform-object-rest-spread",
                "transform-do-expressions",
                ["transform-react-jsx", {
                    "pragma": "h"
                }]
            ]
        },
        "test-e2e": {
            "plugins": [
                "external-helpers",
                "transform-class-properties",
                "transform-object-rest-spread",
                "transform-do-expressions",
                "transform-runtime",
                ["transform-react-jsx", {
                    "pragma": "h"
                }]
            ]
        },
        "server": {
            "plugins": [
                "transform-es2015-modules-commonjs",
                "transform-class-properties",
                "transform-object-rest-spread",
                "transform-do-expressions",
                ["transform-react-jsx", {
                    "pragma": "h"
                }]
            ]
        }
    }
}
